{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Paradise Housing Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/dem.css'%}">
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <a href="index.html"><img src="{% static 'assets/logo.png'%}"></a>
        </div>
        <ul>
          <li><a href="{{linka}}">Home</a></li>
          
          <li class="active"><a href="#">About Us</a></li>
          <li><a href="{{linka1}}">Contact</a></li>
        </ul>
      </div>
      <div class="cent">
        <div class="title">
        <h2>About Us</h2>
      </div>
      <div class="about">

        <p>In today’s modern world, even management of housing societies should get modernized.
        <br>Hence we have come up with this concept that helps managing the daily society affairs.
        <br> You will be easily and quickly connected to the office bearer.
        <br> You receive immediate notifications for events happening within the society.
       

      </div>
      </div>
      
      

  </header>


  </body>
</html>
