{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paradise Housing Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styleget.css'%}">
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <a href="{{linkf1}}"><img src="{% static 'assets/logo.png'%}"></a>
        </div>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="./About.html" target="blank">Update Notices and Reminders</a></li>
          <li><a href="history.html" target="blank">Manage Security</a></li>
          <li><a href="./members.html" target="blank">View Complaints</a></li>
          <li><a href="./Jedi Code.html" target="blank">Check listing</a></li>
          <li><a href="./sign in.html" target="blank">Reports</a></li>
          <li><a href="./sign.html" target="blank">Log out</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>Paradise Housing Management</h1>
      </div>



    </header>
    
  </body>
</html>
