<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Paradise Housing Management System</title>
    <link rel="stylesheet" type="text/css" href="css/styleget.css">
  </head>
  <body>
    <header>
      <div class="main">
        <div class="logo">
          <a href="index.html"><img src="logo.png"></a>
        </div>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Customer review</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="./contact.html">Contact</a></li>
          <li><a href="sign.html">Sign in</a></li>
        </ul>
      </div>
      <div class="title">
        <h1>Paradise Housing Management</h1>
        <h1>DOWNLOAD</h1>
      </div>



    </header>
  </body>
</html>
